/* 
FONT COLORS
Text Color (Dark Gray): #333
Primary Color (Purple): #357b70;
Secondary Color (Orange): #f59f00;
 */

/* 
 TINTS/SHADOWS
  */

/* 
FONT-SIZE
*/

/* 
LINE HEIGHT
1.6
*/

/* 
SPACING
*/

:root {
  --primary-color: #333;
  --secondary-color: #f59f00;
  --light-grey: lightgrey;
  --heavy-font-weight: 700;
  --block-content-text-size: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  /* 1 REM = 10px */
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
  font-weight: var(--heavy-font-weight);
}

/* Navigation -ALL PAGES */

.nav-list {
  list-style: none;
  /* this class is on unordered list element */
}

.nav-list li {
  display: inline-block;
  margin-left: 15px;
}

.nav-links {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}

.nav-links:link,
.nav-links:visited {
  transition: all 300ms;
}

.nav-links:hover,
.nav-links:active {
  color: var(--secondary-color);
  cursor: pointer;
}

/* *********************************GRID*********************************** */
/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
  .grid__item {
    background-color: var(--light-grey);
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.grid_item {
  background-color: var(--light-grey);
  padding: 2rem 1rem;
}

.grid_item:last-child {
  grid-column: 3/3;
  grid-row: 1/3;
}

/*************************************** Index.html ***************************** */

.page-header {
  display: flex;
  flex: 0 1 20rem;
  width: 100%;
  padding: 35px 20px;

  /* potentially not needed? */
  max-width: 160rem;
  margin: 0 auto;
  border-bottom: 1px solid rgba(51, 51, 51, 0.171);
  align-items: center;
  margin-bottom: 9.6rem;
}

.page-header_name {
  font-weight: var(--heavy-font-weight);
  margin-left: 2rem;
  font-size: 2.4rem;
}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.profile {
  max-width: 70rem;
  margin: 0 auto;
}

.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.block-content {
  margin-bottom: 3.2rem;
}

.block-content__header {
  margin-bottom: 2.4rem;
  position: relative;
}

.block-content__text {
  font-size: var(--block-content-text-size);
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

.block-content__list-item {
  font-size: var(--block-content-text-size);
  line-height: 1.6;
}

/* ********************
About.html
******************* */

.container {
  width: 100rem;
  margin: 0 auto;
  text-align: center;
  padding: 0 3.2rem;
}

.block-content_list {
  list-style: none;
}

.block-content_img {
  width: 90%;
}

/* about.html ANIMATIONS */

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

/* .sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
} */

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/************************ BUTTONS ***************************/
.link-button:link,
.link-button:visited {
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 700;
  transition: all 300ms;
  /* text-transform: uppercase; */
  border-radius: 0.9rem;
}

.link-button:hover,
.link-button:active {
  color: #333;
  background-color: var(--secondary-color);
}

.link-button-small {
  padding: 0.4rem 1.2rem !important;
}

.link-resume {
  margin-top: 1.2rem;
}

/***************************** FOOTER *****************************/
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.twitter-icon {
  width: 30px !important;
}

/* ***************
GENERAL CSS
***************** */

.margin-bottom {
  margin-bottom: 1.6rem;
}

/* *****************************MEDIA QUERIES
************** */

/* @media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
  .grid_item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  h1 {
    font-size: 2.2rem;
  }
}

@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .grid_item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  h1 {
    font-size: 2.2rem;
  }
} */

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .project-list {
    gap: 1rem;
  }

  .grid_item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  h1 {
    font-size: 2.2rem;
  }
}

@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}
